body {
    background-color: rgb(255, 163, 182);
}

.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
}


.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(233, 152, 152);

}

.mole {
    background-image: url('mole.jpg');
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.score {
   color: #ffffff;
   font-family: 'Merienda One', cursive;
   margin-left: auto;
   margin-right: auto;
}